* {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #ddd;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #111;
}

#SCP-XXXX {
  margin: 50px;
  margin-bottom: 0px;
  width: calc(100% - 100px);
  overflow-x: wrap;
}

b {
  font-weight: bold !important;
}

.bottom-quad {
  background-color: transparent !important;
}

.image {
  float: right;
  clear: right;
  margin: 20px;
  margin-top: 0px;
  max-width: 100%;
}

.scp-image {
  width: 100%;
}

.scp-image:active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
}

.image-text {
  text-align: center;
  background-color: #111;
  padding: 5px;
  border: 3px #222 solid;
}